*{
  font-family: 'Poppins', sans-serif;
  color: white;
}
.aboutme-body, .homepage-body {
  background-color: black;
}
header{
    padding: 0.625rem; 
}
nav ul{
   display: flex;
   list-style-type: none;
   justify-content: space-between;
   align-items: center;
   margin: 0;
   gap: 15.625rem;
}
body {
   font-family: 'Inter', sans-serif;
   font-size: 1.125rem;
   height: 100vh;
   display: -moz-grid;
   display: -ms-grid;
   display: grid;
   text-shadow: 0px 0px 0.03125rem #000000; 
   place-items: center;
   background-color: #ffffff;
   color: black;
   margin: 0;
   padding: 0;
}
 
#container {
   display: -webkit-flex;
   display: -moz-flex;
   display: -ms-flex;
   display: flex;
   width: 90%;
   max-width: 68.75rem; 
   align-items: center;
   gap: 2rem;
}
.container-logo {
   position: relative;
}
.container-logo img {
   width: 18.75rem; 
   height: 18.75rem; 
   border-radius: 50%;
}
.local {
   font-weight: 500;
   margin-top: 0.5rem;
}
.nome {
   font-size: 2rem;
   font-weight: 900;
   margin-bottom: 0;
}
a {
     text-decoration: none;
     color: inherit;
}
p {
   margin-bottom: 1rem;
   text-align: justify;
}
 
.botoes {
   width: 13.75rem; 
   height: 3.125rem;
   border: none;
   outline: none;
   color: #000000;
   background: #ffffff;
   cursor: pointer;
   position: relative;
   z-index: 0;
   border-radius: 0.625rem; 
}
 
.botoes:before {
   content: '';
   position: absolute;
   top: -0.125rem; 
   left: -0.125rem;
   background-size: 100%;
   z-index: -1;
   filter: blur(0.3125rem); 
   width: calc(100% + 0.25rem); 
   height: calc(100% + 0.25rem);
   animation: glowing 2s linear infinite;
   opacity: 0;
   transition: opacity .3s ease-in-out;
   border-radius: 0.625rem; 
}
 
.botoes:active {
   color: #020202;
}
 
.botoes:hover:before {
   opacity: 1;
}
 
.botoes:after {
   z-index: -1;
   content: '';
   position: absolute;
   width: 100%;
   height: 100%;
   background: #ffffff;
   left: 0;
   top: 0;
   border-radius: 0.625rem;
}
.redes-sociais {
  display: flex; 
  gap: 0.625rem; 
  margin-top: 0.625rem; 
}

.redes-sociais img {
  width: 2.5rem; 
  height: auto;
  transition: transform 0.3s ease;
}
.redes-sociais img:hover{
  transform: scale(1.1);
  filter: grayscale(0%);
}
/*About me*/
.aboutme-header{
  display: flex;
  align-items: center;
  flex-direction: column;
}
.aboutme-body{
  font-family: 'Poppins', sans-serif;
  margin: 0.625rem; 
  padding: 0.625rem; 
  gap: 0.625rem; 
}
.ferramentas {
  width: 100%;
  margin: 0.625rem auto; 
  text-align: center;
}

.ferramentas h2{
  margin: 3.125rem; 
}

.logo-ferramentas {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.625rem; 
}

.logo-ferramentas img {
  width: 6.25rem; 
  height: auto;
  margin-right: 1.25rem; 
  margin-left: 1.25rem; 
  margin-top: 1.25rem; 
  gap: 0.625rem; 
  transition: transform 0.3s ease;
}
.logo-ferramentas img:hover{
  transform: scale(1.1);
}
